.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

.inner{
    padding: 0 5vw;
}

.z-index1 {
    z-index: 1 !important;
}

.z-index2 {
    z-index: 2 !important;
}

.z-index3 {
    z-index: 3 !important;
}