.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

.inner{
    padding: 0 5vw;
}

.z-index1 {
    z-index: 1 !important;
}

.z-index2 {
    z-index: 2 !important;
}

.z-index3 {
    z-index: 3 !important;
}

.br-m{
    display: none;
}
.mw-740{
    max-width: 740px;
}
.mb-130{
    margin-bottom: 130px;
}
.fx-box{
    display: flex;
    gap: 30px;
    height: 533px;
}
@media screen and (max-width:992px) {
    .br-m {
        display: block;
    }
    .mb-130{
        margin-bottom: 65px;
    }
}