@font-face {
    font-family: 'HOHODANG';
    src: url('../fonts/HOHODANG-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'HOHODANG';
    src: url('../fonts/HOHODANG-Line.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* pretendard */
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Regular'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Regular.woff') format('woff');
}
