@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

:root {
    /* color */
    --primary-white: #ffffff;
    --primary-black: #000000;
    --font-sb: 600;
    --font-m: 500;
    --font-r: 400;
    --font-pr: 300;

    --hoho: "HOHODANG";
    --pre: "Pretendard";

    --page-bg: #FAF9F5;
}



* {
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
}

button {
    background: none;
    border: 0;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    list-style: none;
}

fieldset,
input {
    border: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

section {
    position: relative;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    word-break: keep-all;
    font-family: "Pretendard", "HOHODANG", sans-serif !important;
    line-height: 1.67;
    overflow-x: hidden;
    font-weight: var(--font-r);
    background: #000;
}

.btn {
    cursor: grab !important;
}

body::-webkit-scrollbar {
    display: none;
}

.side_bottom--block .side_bottom--right::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

body.page-fade {
    opacity: 0;
    transition: opacity 0.6s ease-in;
}

body.page-fade.fade-in {
    opacity: 1;
}

@media screen and (max-width:992px) {
    body {
        -ms-overflow-style: none;
        /* IE & Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    body::-webkit-scrollbar {
        display: none !important;
        /* Safari & Chrome */
        scrollbar-width: none !important;
    }

}